<a href="https://colab.research.google.com/github/IgorNascAlves/Desafios-de-Programacao/blob/master/notebooks/leitura_jogos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# url = 'https://www.espn.com/nba/matchup?gameId=401332963'
url = 'https://www.espn.com/nba/boxscore/_/gameId/401332963'

In [3]:
dfs = pd.read_html(url)
len(dfs)

5

In [4]:
for df in dfs:
  display(df)

  Unnamed: 0   1   2   3   4  OT    T
0        MIL  25  22  35  27   6  115
1        BKN  28  25  28  28   2  111

                              Starters  ...                   PTS
                                 Bench  ...                   PTS
0             P.J. TuckerP.J. TuckerPF  ...                    11
1   G. AntetokounmpoG. AntetokounmpoPF  ...                    40
2           K. MiddletonK. MiddletonSF  ...                    23
3                    B. LopezB. LopezC  ...                    19
4               J. HolidayJ. HolidayPG  ...                    13
5   T. AntetokounmpoT. AntetokounmpoSF  ...                     0
6       P. ConnaughtonP. ConnaughtonSG  ...                     9
7                 B. ForbesB. ForbesSG  ...                     0
8               M. DiakiteM. DiakitePF  ...  DNP-COACH'S DECISION
9               J. JacksonJ. JacksonSF  ...  DNP-COACH'S DECISION
10                 B. PortisB. PortisC  ...  DNP-COACH'S DECISION
11                J. TeagueJ. TeaguePG  ...  DNP-COACH'S DECISION
12              A. ToupaneA. ToupaneSG  ...  DNP-COACH'S DECISION
13              S. MerrillS. MerrillSG  ...  DNP-COACH'S DECISION
14                 E. BryantE. BryantG  ...  DNP-COACH'S DECISION
15                                TEAM  ...                   115
16                                 NaN  ...                   NaN

[17 rows x 15 columns]

                                  Starters  ...                   PTS
                                     Bench  ...                   PTS
0                     K. DurantK. DurantPF  ...                    48
1                   B. GriffinB. GriffinPF  ...                    17
2                     J. HarrisJ. HarrisSF  ...                    10
3                       B. BrownB. BrownSF  ...                    14
4                     J. HardenJ. HardenSG  ...                    22
5                       J. GreenJ. GreenPF  ...                     0
6                   N. ClaxtonN. ClaxtonPF  ...                     0
7                     L. ShametL. ShametSG  ...                     0
8                   A. JohnsonA. JohnsonPF  ...  DNP-COACH'S DECISION
9                       R. PerryR. PerryPF  ...  DNP-COACH'S DECISION
10                     D. JordanD. JordanC  ...  DNP-COACH'S DECISION
11                      M. JamesM. JamesPG  ...  DNP-COACH'S DECISION
12                  C. ChiozzaC. ChiozzaPG  ...  DNP-COACH'S DECISION
13                  T. JohnsonT. JohnsonSG  ...  DNP-COACH'S DECISION
14  T. Luwawu-CabarrotT. Luwawu-CabarrotSG  ...  DNP-COACH'S DECISION
15                                    TEAM  ...                   111
16                                     NaN  ...                   NaN

[17 rows x 15 columns]

        TEAM   W   L    PCT  GB STRK
0  Milwaukee  46  26  0.639   0   L1
1    Indiana  34  38  0.472  12   W1
2    Chicago  31  41  0.431  15   W1
3  Cleveland  22  50  0.306  24   L2
4    Detroit  20  52  0.278  26   L5

           TEAM   W   L    PCT  GB STRK
0  Philadelphia  49  23  0.681   0   W2
1      Brooklyn  48  24  0.667   1   W5
2      New York  41  31  0.569   8   W3
3        Boston  36  36  0.500  13   L1
4       Toronto  27  45  0.375  22   L7

In [9]:
dfs[2].to_csv('nets_BucksXNets_jogo7_Leste_SemiFinal.csv')